* {
  margin: 0;
  padding: 0;
}

html {
  background-image: url("cn99psg32y371.png");
}

body {
  display: flex;
  font-size: 1.5rem;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45rem;
  padding: 3rem;
  border-radius: 1.5rem;
  background-color: white;
}

input {
  text-align: center;
  width: 3rem;
  font-weight: bold;
}

.main-table {
  text-align: center;
}

.sub-table {
  padding: 0.75rem 0;
  display: grid;
  text-align: center;
  grid-template-columns: auto auto;
}

.submit {
  grid-column: span 2;
}

.title {
  padding: 0.5rem 0;
  grid-column: span 2;
}

.green {
  background-color: #93c47d;
}

.blue {
  background-color: #a4c2f4;
}

.purple {
  background-color: #b4a7d6;
}

.gold {
  background-color: #f6b26b;
}
